footer {
    display: flex;
    flex-direction: column;
    background-color: #252525;
}

.top {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
    align-items: center;
    padding: 4.8rem 9.6rem;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.left img {
    height: 5vw;
    margin-bottom: 3.2rem;
}

.left p {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle h3 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2.4rem;
    border-bottom: solid 2px #D0021B;
}

.middle ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    list-style: none;
    padding: 0;
}

.middle ul li {
    width: 50%;
    border-bottom: solid 1px #fff;
    padding: 3px;
    list-style: none;
}

.middle ul li a {
    color: #fff;
    font-size: 1.2vw;
    list-style: none;
    text-decoration: none;
}

.middle ul li a:hover {
    color: #D0021B;
    transition: all 0.3s;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.right h3 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2.4rem;
    border-bottom: solid 2px #D0021B;
}

.right p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 400;
}

.social {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
}

.social a i {
    font-size: 3.2rem;
    color: white;
}

.fa-twitter-square:hover {
    color: rgb(30, 191, 255);
}

.fa-facebook-square:hover {
    color: rgb(55, 105, 243);
}

.fa-instagram-square:hover {
    color: rgb(212, 30, 212);
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0021B;
    padding: 1vw;
}

.bottom p {
    font-size: 1vw;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}